<div class="jumbotron">
  <img src="http://gravatar.com/avatar/85db5c191662c3b19a6543e04caff7fd?s=140" class="img-thumbnail pull-left" />
  <h1>Alexandr Prudnikov</h1>
  <p class="lead"></p>
  <p>
    <a href="https://twitter.com/un_name" class="twitter-follow-button" data-show-count="false">Follow @un_name</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <iframe src="http://ghbtns.com/github-btn.html?user=Bishop&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe>
  </p>
</div>
